<div class="row d-flex w-full justify-content-center align-items-center">
    <div class="col-md-8 mt-2">
      <h2 class="mb-3">Form Update Contact</h2>
      <!-- Menampilkan error jika ada -->
      <% if (typeof errors != "undefined") { %>
      <ul class="list-errors">
        <div class="alert alert-danger" role="alert">
        <% errors.forEach(item => { %>
          <li><%= item.msg %></li>
          <% }) %>
        </div>
      </ul>
      <% } %>
      <!-- Maka kita harus handle saat form dipost dengan route app.post("/contact/update",(req,res)) -->
      <!-- Dan pastikan di tiap input mempunyai atribut name="", karena digunakan untuk menyimpan data input yang akan ditangkap oleh express -->
      <form method="post" action="/contact/update">

        <!-- buat inputnam e hidden untuk menangkap nama lama agar jika ingin update email dan no hp bisa -->
        <input type="hidden" name="oldName" value="<%= contact.name %>">

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="<%= contact.name %>"
            placeholder="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="nohp" class="form-label">No HP</label>
          <input
            type="tel"
            class="form-control"
            id="nohp"
            name="nohp"
            value="<%= contact.nohp %>"
            placeholder="08*******"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="<%= contact.email %>"
            placeholder="name@example.com"
          />
        </div>
        <div class="mt-4 d-flex gap-3 justify-content-end">
          <a href="/contact">

            <button type="button" class="btn btn-danger">Batal</button>
          </a>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </form>
    </div>
  </div>
  